* {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box; }

nav {
  background-color: #e85b2c;
  margin: 0;
  width: 100%;
  height: 100px; }
  nav .nav__contenedor {
    width: 100%;
    height: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    @media (max-width: 900px) {
      nav .nav__contenedor {
        justify-content: space-around; } }
    nav .nav__contenedor .nav__imagen {
      width: 50px;
      height: 50px;
      background-color: black;
      background-image: url(../images/logo.PNG);
      background-size: cover;
      display: block; }
    nav .nav__contenedor .nav__ul {
      font-size: 1.8em; }
      nav .nav__contenedor .nav__ul .nav__items {
        display: inline-block;
        padding: 0 20px;
        text-decoration: none;
        transition: 0.2s; }
        @media (max-width: 900px) {
          nav .nav__contenedor .nav__ul .nav__items {
            display: none; } }
        nav .nav__contenedor .nav__ul .nav__items .nav__links {
          text-decoration: none;
          color: white; }
      nav .nav__contenedor .nav__ul .nav__items:hover {
        border-bottom: 2px solid black;
        color: #000; }
    nav .nav__contenedor .navbar-toggler {
      display: none; }
      @media (max-width: 900px) {
        nav .nav__contenedor .navbar-toggler {
          display: inline-block; } }

footer {
  width: 100%;
  background-color: #e85b2c; }
  @media (max-width: 800px) {
    footer {
      height: fit-content;
      padding-bottom: 20px; } }
  footer .footer__derechos {
    padding: 20px 0 0 0;
    text-align: center;
    font-style: italic; }
  footer .footer__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 30px; }
    @media (max-width: 800px) {
      footer .footer__links {
        flex-direction: column;
        align-items: center;
        gap: 10px; } }
    footer .footer__links a {
      text-decoration: none;
      color: white; }
    footer .footer__links a::after {
      content: "|";
      text-decoration: none;
      color: white; }
      @media (max-width: 800px) {
        footer .footer__links a::after {
          content: ""; } }
    footer .footer__links a:first-child::before {
      content: "|"; }
      @media (max-width: 800px) {
        footer .footer__links a:first-child::before {
          content: ""; } }

#card_presentacion {
  width: 100%;
  height: 1000px;
  background-image: url("../images/00.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  #card_presentacion #card__contenedor {
    width: 100%; }
    #card_presentacion #card__contenedor #card__div-title {
      text-align: center;
      padding-top: 100px; }
      #card_presentacion #card__contenedor #card__div-title #card__title {
        color: white;
        display: block;
        font-style: italic;
        font-size: 6em;
        animation: title_animation 6s ease  infinite; }
        @media (max-width: 600px) {
          #card_presentacion #card__contenedor #card__div-title #card__title {
            font-size: 2.5em; } }
    #card_presentacion #card__contenedor #card__div-eslogan {
      text-align: center;
      margin-top: 100; }
      #card_presentacion #card__contenedor #card__div-eslogan #card__eslogan {
        color: white;
        font-size: 2.5em;
        font-style: italic; }
        @media (max-width: 600px) {
          #card_presentacion #card__contenedor #card__div-eslogan #card__eslogan {
            font-size: 1.8em; } }
  #card_presentacion #card__div-button {
    text-align: center;
    margin-top: 420px; }
    #card_presentacion #card__div-button .menu__button {
      width: 175px;
      height: 50px;
      background-color: #222;
      color: #e85b2c;
      font-size: 1.3em;
      border-radius: 8px;
      border: 0px;
      font-style: oblique; }

@keyframes title_animation {
  0% {
    color: white; }
  20% {
    color: purple; }
  40% {
    color: orange; }
  60% {
    color: green; }
  80% {
    color: red; }
  100% {
    color: blue; } }

#nosotros {
  min-height: 100vh;
  background-image: url("../images/zyro-image.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  align-content: center;
  justify-content: center;
  padding-top: 75px;
  padding-bottom: 75px; }
  @media (max-width: 450px) {
    #nosotros img {
      width: 220px !important; }
    #nosotros p {
      font-size: 1em !important; } }
  #nosotros .nosotros__img {
    width: 380px; }

#menu {
  min-height: 100vh;
  display: grid;
  align-content: center;
  justify-content: center;
  background-image: url("../images/zyro-image.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden; }
  #menu .menu__title {
    text-align: center;
    margin-top: 50px; }
    #menu .menu__title h2 {
      font-size: 5em; }
      @media (max-width: 500px) {
        #menu .menu__title h2 {
          font-size: 2.2em; } }
  #menu .menu__contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px; }
    @media (max-width: 500px) {
      #menu .menu__contenedor {
        margin-inline: 0; } }
    @media (min-width: 1800px) {
      #menu .menu__contenedor {
        margin-inline: 200px; } }
    #menu .menu__contenedor .menu__contenedor-hamburgesa {
      margin: 20px;
      padding: 20px;
      border-radius: 20px;
      border: #000 solid 2px;
      height: 400px;
      width: 300px;
      background-color: white;
      text-align: center;
      transition: 0.5s; }
      #menu .menu__contenedor .menu__contenedor-hamburgesa img {
        width: 200px;
        height: 200px;
        text-align: center;
        margin-bottom: 20px;
        border-radius: 20px; }
    #menu .menu__contenedor .menu__contenedor-hamburgesa:hover {
      transform: scale(1.1); }

#galeria {
  padding: 100px 0;
  display: grid;
  align-content: center;
  justify-content: center;
  background-image: url("../images/zyro-image.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  #galeria #galeria__title {
    text-align: center;
    margin-block: 50px; }
    #galeria #galeria__title h3 {
      font-size: 5em; }
  #galeria .galeria__contenedor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 25px 0 25px; }
    #galeria .galeria__contenedor .galeria__imagen {
      width: 350px;
      height: 250px;
      margin: 15px;
      overflow: hidden;
      box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.5); }
      #galeria .galeria__contenedor .galeria__imagen img {
        overflow: hidden;
        width: 100%;
        height: 100%;
        transition: 1s;
        object-fit: cover; }
      #galeria .galeria__contenedor .galeria__imagen img:hover {
        transform: scale(1.2); }

#form {
  height: 900px;
  display: grid;
  align-content: center;
  justify-content: center;
  background-image: url("../images/zyro-image.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }
  #form .form__conteiner {
    text-align: center;
    background-color: #666;
    width: 800px;
    border-radius: 20px;
    padding-block: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; }
    #form .form__conteiner #form__title {
      margin-top: 20px;
      font-size: 3em; }
    @media (max-width: 800px) {
      #form .form__conteiner {
        width: fit-content; } }
  #form .form__datos {
    color: white;
    font-size: 1.5em; }
  #form .form__inputs {
    border: 0px;
    width: 500px;
    border-bottom: lightseagreen 4px solid;
    padding: 5px;
    margin-inline: 20px; }
    @media (max-width: 650px) {
      #form .form__inputs {
        width: 250px; } }
  #form .form__asunto {
    margin-inline: 25px;
    color: white;
    font-size: 1.2em; }
  #form__button {
    width: 200px;
    border: 3px lightseagreen solid;
    border-radius: 20px;
    padding: 10px;
    background-color: white;
    transition: 1s; }
  #form__button:hover {
    background-color: lightseagreen; }

.img__general {
  width: 50px;
  height: 50px; }
